# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/

# Jupyter
.ipynb_checkpoints/

# DVC (gere par DVC, pas par Git)
/data/raw/
/data/processed/
/models/

# Autoriser les fichiers .dvc (necessaires pour Git)
!data/raw/*.dvc
!data/processed/*.dvc
!models/*.dvc

# Reports
reports/figures/*.png

# OS
.DS_Store
Thumbs.db
